.App {
  text-align: center;
}

.App-image {
  width: 60vmin;
  pointer-events: none;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: white;
}

.text-box {
  background: #fff;
  color: #333;
  border-radius: 5px;
  text-align: center;
}

.resize-container {
  position: relative;
  display: inline-block;
  cursor: move;
  margin: 0 auto;
}

.resize-container img {
  display: block;
}

.resize-container:hover img,
.resize-container:active img {
  outline: 2px dashed rgba(222, 60, 80, 0.9);
}
